<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
  <div>
    <div style='height: 150px;'>
      <app-header></app-header> 
    </div>
    <app-login></app-login>
    <app-searchhospital></app-searchhospital>
    <app-transactionhistory></app-transactionhistory>
    <app-manage-doctors></app-manage-doctors>
    <div>
        <app-showstock></app-showstock>
     </div>
    <div >
      <app-container></app-container>
    </div>
    <div style='height: 150px; width: 100%'>
      <app-footer></app-footer>
    </div>
  </div>

<router-outlet></router-outlet>
